<app-modal [title]="title" [successButtonName]="successButtonName" #boardSettingsModal>
  <form *ngIf="board && form" [formGroup]="form">
    <div class="field">
      <label class="label">Board name</label>
      <div class="control has-icons-right">
        <input class="input" type="text" formControlName="boardName" />
        <span *ngIf="isBoardNameDirty() && isBoardNameValid()" class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
      <p *ngIf="isBoardNameTouched() && !isBoardNameValid()" class="help is-danger">
        This board name is required
      </p>
    </div>
  </form>
</app-modal>