<div class="container w-25">
    <form [formGroup]="form" (submit)="signIn()">
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" formControlName="username" />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span *ngIf="isUserNameDirty() && isUserNameValid()" class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
        <p *ngIf="isUserNameTouched() && !isUserNameValid()" class="help is-danger">
          This username is required
        </p>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-right">
          <input class="input" type="password" formControlName="password" />
          <span *ngIf="isPasswordDirty() && isPasswordValid()" class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
        <p *ngIf="isPasswordTouched() && !isPasswordValid()" class="help is-danger">
          This password is required
        </p>
      </div>
  
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-success">Sign in</button>
        </div>
      </div>
    </form>
  </div>