<div class="card">
  <div class="card-image">
    <figure>
      <img src="https://cdn.pixabay.com/photo/2017/03/08/15/01/colorado-2126991_960_720.jpg">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{board.name}}</p>
        <p class="subtitle is-6">{{board.owner.userName}}</p>
      </div>
    </div>

    <div class="content">
      <span>Created: </span>
      <time>{{board.creationDate | date: 'HH:mm, dd.MM.yyyy'}}</time>
    </div>
  </div>
</div>