<div class="container w-25">
  <form [formGroup]="form" (submit)="signUp()">
    <div class="field">
      <label class="label">Username</label>
      <div class="control has-icons-left has-icons-right position-relative">
        <input class="input" type="text" formControlName="username" />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span *ngIf="isUserNameDirty() && isUserNameValid()" class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
        <div class="position-absolute password-info">
          <i class="fa-solid fa-circle-info" data-html="true" container="body" [tooltip]="usernameTooltipTemplate"></i>
          <ng-template #usernameTooltipTemplate>
            <div style="width: max-content; text-align: left;">
              <span>Minimum 5 characters</span>
              <br>
              <span>Maximum 24 characters</span>
            </div>
          </ng-template>
        </div>
      </div>
      <p *ngIf="isUserNameTouched() && !isUserNameValid()" class="help is-danger">
        This username is required
      </p>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-right position-relative">
        <input class="input" type="password" formControlName="password" />
        <span *ngIf="isPasswordDirty() && isPasswordValid()" class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
        <div class="position-absolute password-info">
          <i class="fa-solid fa-circle-info" data-html="true" [tooltip]="passwordTooltipTemplate"></i>
          <ng-template #passwordTooltipTemplate>
            <div style="width: max-content; text-align: left;">
              <span>Minimum 8 characters</span>
            </div>
          </ng-template>
        </div>
      </div>
      <p *ngIf="isPasswordTouched() && !isPasswordValid()" class="help is-danger">
        This password is required
      </p>
    </div>

    <div class="field">
      <label class="label">Repeat password</label>
      <div class="control has-icons-right">
        <input class="input" type="password" formControlName="repeatPassword" />
        <span *ngIf="isRepeatPasswordDirty() && isRepeatPasswordValid()" class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
      <p *ngIf="isRepeatPasswordTouched() && !isRepeatPasswordValid()" class="help is-danger">
        It does not match the password
      </p>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-success">Sign up</button>
      </div>
    </div>
  </form>
</div>