<section class="section">
    <div class="flex tile is-ancestor fade-in">
        <app-dashboard-card *ngFor="let board of ownershipBoards" class="tile is-parent is-3"
            [board]="board"></app-dashboard-card>
        <app-dashboard-card *ngFor="let board of membershipBoards" class="tile is-parent is-3"
            [board]="board"></app-dashboard-card>
    </div>
    <div *ngIf="isPending(ownershipBoardsKey) || isPending(membershipBoardsKey)"
        class="d-flex justify-content-center align-items-center">
        <div>
            <span class="fa-solid fa-spinner fa-spin" style="font-size: 3rem;"></span>
        </div>
    </div>
</section>